html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 140px;
}

/*        my              */

.subscribe {
    padding: 5px 8px;
    font-family: 'Georgia', Times, serif;
}

.separator {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(245, 245, 245, 0.9), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(245, 245, 245, 0.9), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(245, 245, 245, 0.9), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(245, 245, 245, 0.9), transparent);
}

#id_year_0, #id_year_1 {
    width: 32%;
    text-align: center;
}

.range-input {
    padding-top: 2%;
    text-align: center;
}

#par {
    padding: 2% 0 2% 0;
}

select, input[type="text"], input[type="email"] {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

footer {
    position: absolute; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: rgba(237, 237, 237, 0.8); /* Цвет фона */
    color: rgba(46, 48, 51, .9); /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.chev {
    position: absolute !important;
    top: 25% !important;
    right: calc(0.1vw) !important;
}

#range-ok {
    padding: 3px 5px !important;
}

#text-email {
    margin: 5px 0;
    font-size: 24px;
}

h4 {
    text-transform: uppercase;
}

i.fa.social {
    width: 32px;
    height: 32px;
    color: #5f82a6;
    border: 1px solid #545454;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
    padding-right: 6px;
}

i.fa.social:hover {
    color: whitesmoke;
    background: #5f82a6;
    border: 1px solid #5f82a6;
    transition: all 0.5s linear;
}

i.fa-envelope {
    color: #5f82a6;
}

.bon-name {
    color: rgba(46, 48, 51, .9);
}

.bon-name:hover {
    color: #000;
}

#from, #to {
    padding: 3px;
}

#id_year_0, #id_year_1 {
    padding: 4px 7px;
}

.bon-photo {
    width: 245px;
    height: 238px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background: rgba(237, 237, 237, 0.8);
    padding: 10px;
}

.bon-photo:hover {
    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 1s ease;
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    box-shadow: 5px 5px 10px #777;
}

.show-more-button {
    font-size: 44px !important;
    color: #5f82a6;
}

.scroll_up {
    position: fixed;
    color: #5f82a6;
    z-index: 999;
    left: 1%;
    top: 70vh;
    font-size: 48px !important;
}

footer {
    color: rgba(46, 48, 51, 0.9);
}

#subscribe-btn {
    background: #5f82a6;
    color: white;
    border: 0;
}

.fa-envelope-o {
    color: #5f82a6;
    margin-top: -10px;
}

.bon-container {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px
}

.article-sign {
    font-size: 16px;
    text-align: right;
}

.article-text {
    font-size: 24px
}

.article-text > p {
    margin-bottom: 0;
}

.article-container {
    background-color: rgba(245, 245, 245, 0.6);
    margin-top: 0.7vh;
}

.article-title {
    margin-top: 50px;
    margin-bottom: 20px;
}

.all-detail-container {
    margin-top: 5vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5vh;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

.detail-img-container {
    padding-right: 0;
    padding-left: 30px;
    text-align: center;
    border-right: solid 1px #eaeaea;
}

.detail-container {
    vertical-align: middle;
    padding-top: 1vh;
    align-content: center;
    padding-left: 0 !important;
}

#zoom_07 {
    width: 35vw;
    height: 35vw;
    margin: 25px;
}

.bondet {
    font-size: 20px;
    border-bottom: 1px solid #eaeaea;
    padding-left: 15px;
    margin: 0;
}

.bondet:last-of-type {
    border: 0;
}

.indent {
    margin-left: 25px;
}

a.toggle-menu {
    color: rgba(46, 48, 51, .9);
    font-weight: bold;
    font-size: 15px;
}

a.toggle-menu:hover {
    color: #000;
}

.filter-button {
    text-align: center;
    width: 100%;
    color: #777 !important;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: bold !important;
    margin-top: 5px;
}

a label {
    color: #000;
}

/*       navbar      */

.navbar-default {
    background-color: rgba(237, 237, 237, 0.8) !important;
    border-bottom: 1px solid #eaeaea !important;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold !important;
    font-size: 16px !important;
    color: rgba(46, 48, 51, .9) !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    color: #fff !important;
    background-color: #333 !important;
}

.navbar-default .navbar-brand {
    color: rgba(46, 48, 51, .9) !important;
    font-weight: bold !important;
}

li:hover > a, .navbar-brand:hover {
}

.sidebar-filters {
    background: rgba(237, 237, 237, 0.8);
    border: 1px solid #eaeaea;
    padding: 10px;
    border-radius: 3px;
}

.news-block {
    margin-bottom: 2vh;
}

.nav-but > a {
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none !important;
    cursor: pointer;
    background: #5f82a6;
    border-radius: 20px;
    color: white;
    font-size: 17px;
}

.nav-but > a > i {
    color: white;
    font-size: 18px;
}

.nav-but-next > a > i {
    padding-left: 5px;
}

.nav-but-prev > a > i {
    padding-right: 5px;
}

.news-container {
    margin-top: 7vh;
    margin-left: 7%;
    margin-right: 4%;
    color: rgba(245, 245, 245, 0.9);
}

#dye {
    color: rgba(46, 48, 51, .9);
    padding-bottom: 4%;
}

#first-sec {
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 25px;
}

#animated-feedback {
    margin-top: 20px;
}

.feedback-form {
    margin-left: 40%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-start
}

#recaptcha-form {
    width: 0;
}

.g-recaptcha {
    margin-left: 8px;
}

.recaptcha-button {
    background: #5f82a6 !important;
    color: white !important;
    border: 0 !important;
    width: 124px;
    margin: 5px 8px;
    height: 42px;
}

#id_subject, #id_from_email, #id_message {
    font-size: 18px;
    padding: 7px 10px;
    margin: 5px 8px;
}

#id_subject, #id_from_email {
    height: 42px;
    width: 300px;
}

.animated {
    font-size: 28px;
}

.animated:last-of-type {
    font-size: 52px;
}

#id_message {
    resize: none;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

#feedback-img {
    margin: 25px 50px;
    border-radius: 50%;
}

/*bootstrap classes*/
label {
    font-weight: 500 !important;
}

.well {
    padding: 10px !important;
}

.nav.nav-pills.nav-stacked > li > a {
    padding: 5px 10px !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: rgba(74, 74, 74, 0.21) !important;
}

/*        radio           */
.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 0 0 0;
}

.radio + label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #5f82a6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .2s;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(95, 130, 166, 0.1);
}

/*        <a> <button>     */
a.animated-button:link, a.animated-button:visited,
button.animated-button:link, button.animated-button:visited {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after,
button.animated-button:link:after, button.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover,
button.animated-button:link:hover, button.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after,
button.animated-button:link:hover:after, button.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button:link, a.animated-button:visited,
button.animated-button:link, button.animated-button:visited {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button.thar-one {
    color: rgba(46, 48, 51, .9);
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #5f82a6;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-one:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: none;
}

a.animated-button.thar-one:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

a.animated-button.thar-one:before {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #5f82a6;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.animated-button.thar-one {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #5f82a6;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button.animated-button.thar-one:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: none;
}

button.animated-button.thar-one:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

button.animated-button.thar-one:before {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #5f82a6;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/*                       */
