html, body {height: 100% !important;}
/*        my              */
/** {
  margin: 0;
  padding: 0;
}*/
#id_year_0,#id_year_1{
    width: 32%;
    text-align: center;
}
.range-input{
    padding-top: 2%;
    text-align: center;
}
#par{
    padding: 2% 0 2% 0;
}
select,input[type="text"]{
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}
footer{
    position: relative; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #333333; /* Цвет фона */
    color: #d6d6d6; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}
.chev{
    position: absolute !important;
    top: calc(1.2vh) !important;
    right: calc(0.1vw) !important;
}
#range-ok{
    padding: 3px 5px !important;
}
#text-email{
    margin: 5px 0;
    font-size: 24px;
}
h4{
    text-transform: uppercase;
}
.contacts.fa{
    color:#f84c48
}
.contacts.fa-envelope{
    font-size: 11px;
}
#social-networks i{
    width: 36px;
    height: 36px;
    color:#f84c48;
    border: 1px solid #545454;
    border-radius: 50%;
    padding: 7px;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
    padding-right: 7px;
}
#social-networks i:hover{
    background-color: #d6d6d6;
}
/*       navbar      */
.navbar-default {
  background-color: #DC404A !important;
}

.navbar-default .navbar-nav > li > a{
  color: #fff !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: #fff !important;
  background-color: #c0392b !important;
}

.navbar-default .navbar-brand {
  color: #fff !important;
  font-weight: bold !important;
}
/*bootstrap classes*/
label{
    font-weight: 500 !important;
}
.well{
    padding: 10px !important;
}
.nav.nav-pills.nav-stacked>li>a {
    padding: 5px 10px!important;
}
/*        radio           */
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 0 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
/*        slider           */
div.range-slider {
  position: relative;
  width: 100%;
  height: 5vh;
  float: left;
  text-align: center;
}
div.range-slider input[type="range"] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 14px;
  background: #269cc9;
  box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  /*overflow: hidden;*/
  left: 0;
  top: 15px;
  width: 100%;
  outline: none;
  height: 5px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
div.range-slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #dad8da 0, #413F41 100%);
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #da0006 0, #7b797b 100%);
    /* W3C */
}
div.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-image: linear-gradient(to bottom, #ffffff 0, #ff1700 100%);
  /* W3C */
}
div.range-slider input[type="range"]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 0;
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}
div.range-slider input[type=range]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: black;
  border: 0;
}
div.range-slider input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
div.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
/*        slider           */
.rangeValues{
    padding-left: 10px;
}
/*                         */