{% load el_pagination_tags edited_show_more mathfilters %}

{% block bon_list %}

        <div class="row">
            {# filtering here #}
            {% paginate 20 bons.qs as objects %}
            {% for bon in objects %}
                {% if forloop.counter0|divisibleby:"4" %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="col-sm-3 col-lg-3">
                    <div style="display: block; text-align: center; margin: 0 auto">
                        <a href="{{ bon.id }}">
                            <img src="{{ bon.image.url }}" class="bons" style="width: 50%; height: 50%"/>
                            <h5>{{ bon.par }}
                                {% if bon.par == 1 %}
                                     {{ bon.type }}
                                {% endif %}
                                {% if bon.par == 2 and bon.type == 'Гривня' %}
                                    Гривні
                                {% endif %}
                                {% if bon.par == 2 and bon.type == 'Карбованець' %}
                                    Карбованця
                                {% endif %}
                                {% if bon.par == 3 and bon.type == 'Карбованець' %}
                                    Карбованці
                                {% endif %}
                                {% if bon.par > 4 and bon.type == 'Гривня' %}
                                    Гривень
                                {% endif %}
                                {% if bon.par > 4 and bon.type == 'Карбованець' %}
                                    Карбованців
                                {% endif %}

                                {% if bon.year.upper|sub:bon.year.lower == 1 %}
                                    {{ bon.year.lower }}
                                {% endif %}
                                {% if bon.year.upper|sub:bon.year.lower > 1 %}
                                    {{ bon.year.lower }} - {{ bon.year.upper | sub:1 }}
                                {% endif %}
                            </h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
         {% edited_show_more %}
        </div>
{% endblock %}