{% load el_pagination_tags edited_show_more %}

{% block bon_list %}

    <div class="container-fluid">
        <div class="row">
            {# filtering here #}
            {% paginate 20 bons.qs as objects %}
            {% for bon in objects %}
                {% if forloop.counter0|divisibleby:"4" %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="col-sm-3 col-lg-3">
                    <div style="display: block; text-align: center; margin: 0 auto">
                        <a href="{{ bon.id }}">
                            <img src="{{ bon.image.url }}" style="width: 50%; height: 50%"/>
                            <h5>{{ bon.par }} {{ bon.type }} {{ bon.year.lower }}-{{ bon.year.upper  }}</h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
         {% edited_show_more %}
        </div>
{% endblock %}