{% load widget_tweaks %}

{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row" style="padding-top: 15px;">
                    <div class="col-lg-1">
                        <i style="color:#f84c48; margin-top: -10px" class="fa fa-envelope-o fa-5x"
                           aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-4 col-lg-offset-1">
                        <p id="text-email">Отримуйте останні новини каталогу</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="{% url 'subscribe' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group input-group-lg">
                                {% for field in subscribe_form.visible_fields %}
                                    {% render_field field placeholder="Введіть ваш E-Mail" class='subscribe form-control' %}
                                {% endfor %}
{#                                {{ subscribe_form.as_p }}#}
{#                                {% if subscribe_form.non_field_errors %}#}
{#                                    <div class="form-group text-error">#}
{#                                        {{ subscribe_form.non_field_errors }}#}
{#                                    </div>#}
{#                                {% endif %}#}
{##}
{#                                {% for hidden in subscribe_form.hidden_fields %}#}
{#                                    {{ hidden }}#}
{#                                {% endfor %}#}
{#                                {% for field in subscribe_form.visible_fields %}#}
{#                                    {{ field.help_text}}#}
{#                                    {{ field }}#}
{#                                    {% if field.errors %}#}
{#                                        <span>{{ field.errors|striptags }}</span>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
                                <span class="input-group-btn">
                                    <button type="submit" style="background:#1d6e87; color: white; border: 0"
                                        class="btn btn-default">Підписатись</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <hr style="margin: 10px 0; border-color: #d6d6d6">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <h4>Контакти</h4>
                        <p>
                            <i class="fa fa-map-marker contacts"></i>
                            Київ, ст.м. Осокорки, вулиця Чавдар, 18, 39 кв.
                        </p>
                        <p>
                            <i class="fa fa-phone contacts"></i>
                            38 044 687-31-09
                        </p>
                        <p>
                            <i class="fa fa-envelope contacts"></i>
                            WCUB@gmail.com
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur error quidem sit velit? A,
                        ab, animi aut culpa ea eos ex illo itaque iure nisi officiis quasi quia soluta veritatis!
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div id="social-networks">
                            <h4>Соцмережі</h4>
                            <a href="https://vk.com/" target="_blank"><i class="fa fa-vk"></i></a>
                            <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}