{% block header %}
    <header id="head-top" class="navbar-default navbar-static-top-top" style="color: #777">
        <nav class='container' role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{% url 'index' %}" class="navbar-brand">WCUB</a>
                </div>
                <div class="navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'catalogue' %}">Каталог</a></li>
                        <li><a href="{% url 'feedback' %}">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}