{% block header %}
<header class="navbar-default navbar-static-top-top">
  <nav class='container' role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">WCUB inc.</a>
      </div>
      <div class="navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://steamcommunity.com/profiles/76561198075526207" target="_blank"><i class="fa fa-steam"></i></a></li>
          <li><a href="https://twitter.com/smallwhitelight" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://vk.com/artemivasyuk" target="_blank"><i class="fa fa-vk"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endblock %}