{% block header %}
<header class="navbar-default navbar-static-top-top">
  <nav class='container' role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{% url 'bons_list' %}" class="navbar-brand">WCUB inc.</a>
      </div>
      <div class="navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'feedback' %}">About us</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endblock %}