{% extends 'catalogue/base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% load staticfiles disqus_tags %}

{% block content %}
    <div class="container article-container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="article-title">{{ article.title }}</h2>
                <div class="article-text">
                    {{ article.text | linebreaks }}
                </div>
                <br>
                <p class="article-sign">{{ article.published_date }}</p>
                <p class="article-sign" style="margin-bottom: 30px">{{ article.author }}</p>
            </div>
        </div>

        <div class="row">
            <div class="navbar-static-bottom">
                <div class="col-lg-10 col-lg-offset-1">
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            background: url({% static 'catalogue/img/contact-image.jpg' %}) center center no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}