{% extends 'catalogue/base.html' %}

{% load mathfilters disqus_tags %}
{% block title %}{{ bancnote.par }} {% endblock %}

{% include  'catalogue/includes/header.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row"
             style="margin-top: 5vh; padding-top: 0; padding-bottom: 0; margin-bottom: 5vh;border-bottom: 1px solid #eaeaea; border-top: 1px solid #eaeaea">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right: 0; padding-left: 30px">
                <div style="border-right: solid 1px #eaeaea; text-align: center">
                    <img id="zoom-7" style="width: 35vw; height: 35vw; margin: 25px;" src="{{ bancnote.image.url }}"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0;">
                <div>
                    <div style="align-content: center; padding-top: 1vh; vertical-align: middle;">
                        <p class="bondet">Номінал: <br>{% if bancnote.par == 1 %}
                            {{ bancnote.type }}
                        {% endif %}
                            {% if bancnote.par == 2 and bancnote.type == 'Гривня' %}
                                Гривні
                            {% endif %}
                            {% if bancnote.par == 2 and bancnote.type == 'Карбованець' %}
                                Карбованця
                            {% endif %}
                            {% if bancnote.par == 3 and bancnote.type == 'Карбованець' %}
                                Карбованці
                            {% endif %}
                            {% if bancnote.par > 4 and bancnote.type == 'Гривня' %}
                                Гривень
                            {% endif %}
                            {% if bancnote.par > 4 and bancnote.type == 'Карбованець' %}
                                Карбованців
                            {% endif %}
                        </p>
                        <p class="bondet">Роки випуску: <br>
                            {% if bancnote.year.upper|sub:bancnote.year.lower == 1 %}
                                {{ bancnote.year.lower }}
                            {% endif %}
                            {% if bancnote.year.upper|sub:bancnote.year.lower > 1 %}
                                {{ bancnote.year.lower }} - {{ bancnote.year.upper | sub:1 }}
                            {% endif %}
                        </p>
                        {% if bancnote.sign %}
                            <p class="bondet">Підписи: <br>{{ bancnote.sign | safe }}</p>
                        {% endif %}
                        <p class="bondet">Розміри: <br>{{ bancnote.size }}</p>
                        <p class="bondet">Опис: <br>{{ bancnote.desc | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                {% disqus_show_comments %}
            </div>
        </div>
    </div>
    <style>
        .bondet {
            font-size: 20px;
            border-bottom: 1px solid #eaeaea;
            padding-left: 15px;
            margin: 0;
        }

        .bondet:last-of-type {
            border: 0;
        }

        .indent {
            margin-left: 25px;
        }
    </style>
{% endblock %}

{% include 'catalogue/includes/footer.html' %}