{% extends 'catalogue/base.html' %}

{% load staticfiles mathfilters disqus_tags %}
{% block title %}{{ bancnote.par }} {% endblock %}

{% include  'catalogue/includes/header.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row all-detail-container"
             style="background: url({% static 'catalogue/img/contact-img-blured.jpg' %}) center center no-repeat;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 detail-img-container">
                <img id="zoom_07" src="{{ bancnote.image.url }}"
                     data-zoom-image="{{ bancnote.image.url }}"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 detail-container">
                <p class="bondet">Купюра:<br>
                    {{ bancnote.par }}
                    {% if bancnote.par == 1 %}
                        {{ bancnote.type }}
                    {% endif %}
                    {% if bancnote.par == 2 and bancnote.type == 'Гривня' %}
                        Гривні
                    {% endif %}
                    {% if bancnote.par == 2 and bancnote.type == 'Карбованець' %}
                        Карбованця
                    {% endif %}
                    {% if bancnote.par == 3 and bancnote.type == 'Карбованець' %}
                        Карбованці
                    {% endif %}
                    {% if bancnote.par > 4 and bancnote.type == 'Гривня' %}
                        Гривень
                    {% endif %}
                    {% if bancnote.par > 4 and bancnote.type == 'Карбованець' %}
                        Карбованців
                    {% endif %}
                </p>
                <p class="bondet">Роки випуску: <br>
                    {% if bancnote.year.upper|sub:bancnote.year.lower == 1 %}
                        {{ bancnote.year.lower }}
                    {% endif %}
                    {% if bancnote.year.upper|sub:bancnote.year.lower > 1 %}
                        {{ bancnote.year.lower }} - {{ bancnote.year.upper | sub:1 }}
                    {% endif %}
                </p>
                {% if bancnote.sign %}
                    <p class="bondet">Підписи: <br>{{ bancnote.sign | safe }}</p>
                {% endif %}
                <p class="bondet">Розміри: <br>{{ bancnote.size }}</p>
                <p class="bondet">Опис: <br>{{ bancnote.desc | safe }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                {% disqus_show_comments %}
            </div>
        </div>
    </div>
    <style>
        body {
            background-color: whitesmoke;
        }
    </style>
{% endblock %}

{% include 'catalogue/includes/footer.html' %}