{% extends 'catalogue/base.html' %}
{% block title %}Каталог{% endblock %}

{% include  'catalogue/includes/header.html'%}

{% block content %}
    <img src="{{ bancnote.image.url }}"/>
    <ul>
        <li>{{ bancnote.par }} {{ bancnote.type }}</li>
        <li>{{ bancnote.desc }}</li>
        <li>{{ bancnote.year_from }} - {{ bancnote.year_to }}</li>
        <li>{{ bancnote.size }}</li>
        {{ bancnote.sign | safe }}
        <li>{{ bancnote.year.lower }} - {{ bancnote.year.upper }}</li>
    </ul>
{% endblock %}

{% include 'catalogue/includes/footer.html' %}