{% extends 'catalogue/base.html' %}
{% block title %}Контакти{% endblock %}

{% block content %}
    <div class="row">
        <br>
        <div class="col-lg-5 col-lg-offset-2">
            <h2>З'явилось запитання?</h2>
            <h2>Знайшли несправність на сайті?</h2>
            <h2>Є ідеї або пропозиції щодо роботи порталу?</h2>
            <h2>Напиши нам про це</h2>
        </div>
        <div class="col-lg-5">
            <form>
                {% csrf_token %}
                <h4>З'явилось запитання?</h4>
                <h4>Знайшли несправність на сайті?</h4>
                <h4>Є ідеї або пропозиції щодо роботи порталу?</h4>
                <h1>Напиши нам про це</h1>
                <input type="text" id="name" placeholder="Ім'я"> <br>
                <input type="text" id="email" placeholder="E-mail"> <br>
                <textarea style="resize: none; border: 1px solid #d6d6d6;border-radius: 3px;" id="message_text"
                          cols="30" rows="5" placeholder="Повідомлення"></textarea> <br>
                <button style="background:#1d6e87; color: white; border: 0; width: 10vw; margin: 5px 8px; height: 7vh;"
                        class="btn btn-default">Відправити
                </button>
                <br> <br>
            </form>
        </div>
    </div>

    <style>
        #name, #email, #message_text {
            width: 25vw;
            font-size: 18px;
            padding: 5px 8px;
            margin: 5px 8px;
        }
    #name, #email{
            height: 7vh;
        }
    </style>
{% endblock %}
