{% extends 'catalogue/base.html' %}
{% block title %}Зворотній зв'язок{% endblock %}
{% load staticfiles widget_tweaks %}
{% block content %}
    <section id="first-sec" style="background: url({% static 'catalogue/img/img-blured.jpg' %}) no-repeat;">
        <img id="feedback-img" src="{% static 'catalogue/img/hrn2.jpg' %}">
        <div id="animated-feedback">
        </div>
    </section>
    <section id="feedback-section">
        <div class="feedback-form">
            <form method="post" id="recaptcha-form">
                {% csrf_token %}
                {% render_field form.subject placeholder="Тема" %}
                {% render_field form.from_email placeholder="E-mail" %}
                {% render_field form.message placeholder="Повідомлення" cols="40" rows="6" %}
                <div class="g-recaptcha"
                     data-sitekey="6LedmiAUAAAAAKZLXLPjr_P65OCui0yYgIxyvErS"></div>
                <button class="btn btn-default recaptcha-button">
                    Відправити
                </button>
            </form>
        </div>
    </section>
    <style>
        body {
            background: url({% static 'catalogue/img/contact-image.jpg' %}) center center no-repeat;
        }
    </style>
{% endblock %}