{% extends 'catalogue/base.html' %}
{% block title %}WCUB{% endblock %}
{% load staticfiles el_pagination_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-7  col-lg-offset-1 col-md-offset-1 col-sm-offset-1"
                 style="padding-top: 13%; text-align: center">
                <div style="background: url({% static 'catalogue/img/1.png' %}) no-repeat center center;
                        background-size: contain;
                        color: #777;
                        padding-bottom: 4%">
                    <br>
                    <h1 style="font-size: 60px">WCUB</h1>
                    <h3 style="font-weight: bold">Ласкаво просимо до веб-каталогу українських банкнот.<br>Якщо Ви
                        колекціонер,
                        боніст або ж просто цікавитесь історією - Вам до нас!</h3>
                </div>
                <a style="width: 220px;" href="{% url 'catalogue' %}" class="btn btn-sm animated-button thar-one">Перейти
                    до каталогу</a>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-lg-offset-1 col-md-offset-1">
                <div class="news-container"
                     style="margin-top: 7vh; margin-left: 7%; margin-right: 4%; color: rgba(245, 245, 245, 0.9);">
                    <h2 style="margin-bottom: 7%;">Останні новини:</h2>
                    {% paginate 5 news %}
                    {% for new in news %}
                        <div class="news-block">
                            <h4><a href="/news/{{ new.id }}"
                                   style="color: rgba(245, 245, 245, 0.9);">{{ new.title }} {{ new.published_date }}</a>
                            </h4>
                            {{ new.text | truncatechars:250 }}
                            {% if forloop.counter != 5 %}
                                <hr class="separator">
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% get_pages %}
                    <div class="row">
                        <div class="nav-but nav-but-prev col-lg-6">
                            {{ pages.previous }}
                        </div>
                        <div class="nav-but nav-but-next col-lg-6">
                            {{ pages.next }}
                        </div>
                    </div>
                <style>
                    .nav-but > a {
                        display: inline-block; /* Строчно-блочный элемент */
                        padding: 6px 20px;
                        text-decoration: none !important; /* Убираем подчёркивание у ссылки */
                        cursor: pointer; /* Курсор в виде руки */
                        background: #5f82a6; /* Фон для браузеров, не поддерживающих градиент */
                        border-radius: 20px; /* Скругляем уголки */
                        color: white; /* Цвет текста и ссылки */
                        font-size: 17px;
                    }
                    .nav-but > a > i {
                        color: white;
                        font-size: 18px;
                    }
                    .nav-but-next > a > i {
                        padding-left: 5px;
                    }
                    .nav-but-prev > a > i {
                        padding-right: 5px;
                    }
                </style>
            </div>
        </div>
    </div>
    </div>
    </div>
    <style>
        body {
            background: url({% static 'catalogue/img/bckg.jpg' %}) center center no-repeat;
            background-size: cover;
        }

        .news-block {
            margin-bottom: 2vh;
        }
    </style>
{% endblock %}
