{% extends 'catalogue/base.html' %}
{% block title %}Каталог{% endblock %}

{% block sidebar %}
    <div class="well bs-sidebar" id="style" style="background-color:#fff"><ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#" class="toggle-menu" onclick="showcontent('#money-type')">Тип купюри
                <i class="fa fa-chevron-up"></i></a>
        </li>
        <div id="money-type">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">
                    <input type="radio" class="radio" id='radio-1' name="radio" value="UAH"/><label for="radio-1">Гривня
                </label></a></li>
                <li><a href="#">
                    <input type="radio" class="radio" id='radio-2' name="radio" value="car"/><label for="radio-2">Карбованець
                </label></a></li>
            </ul>
        </div>
        <li><a href="#" class="toggle-menu" onclick="showcontent('#par')">Номінал
            <i class="fa fa-chevron-up"></i></a></li>
        <div id="par">
            <select name="from" id="from">
            </select>
            <select name="from" id="to">
            </select>
        </div>
        <li><a href="#" class="toggle-menu" onclick="showcontent('#period')">Роки випуску
            <i class="fa fa-chevron-up"></i></a></li>
        <div id="period">
            <div class="range-input">
                <input type="text" id="firstPer"maxlength="4"> -
                <input type="text" id="secPer" maxlength="4">
                <button class="btn btn-default">OK</button>
            </div>
            <div class="range-slider">
                <input value="1917" min="1917" max="2017" step="1" type="range">
                <input value="2017" min="1917" max="2017" step="1" type="range">
            </div>
        </div>
    </ul>
			</div>
{% endblock %}

{% block content %}
    {% if bons %}
        <div class="container-fluid">
            <div class="row">
                {% for bon in bons %}
                    {% if forloop.counter0|divisibleby:"4" %}
            </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-sm-3 col-lg-3">
                        <div style="display: block; text-align: center; margin: 0 auto">
                            <a href="{{ bon.id }}">
                                <img src="{{ bon.image.url }}" style="width: 50%; height: 50%"/>
                                <h5>{{ bon.par }} {{ bon.type }} {{ bon.year_from}}-{{ bon.year_to }}</h5>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                        </div>
        </div>

        {% if bons.has_other_pages %}
            <div>
                <ul class="pagination">
                {% if bons.has_previous %}
                    <li><a href="?page={{ bons.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_range %}
                    {% if bons.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if bons.has_next %}
                    <li><a href="?page={{ bons.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

